$url:"../font/";
$img:'../image/';
$color:#08c;
$num:12;
$large:1441px;
$medium:1068px;
$small:741px;
$rule:(large:$large,medium:$medium,small:$small);
$item:(
  logo:20px,
  mac:31px,
  ipad:30px,
  iphone:48px,
  watch:44px,
  tv:20px,
  music:40px,
  support:57px,
  sousu:20px,
  gwc:18px
);
$small-item:(
logo:21px 48px,
mac:37px 48px,
ipad:35px 48px,
iphone:59px 48px,
watch:52px 48px,
tv:23px 48px,
music:48px 48px,
support:69px 49px,
sousu:22px 48px,
gwc:19px 48px
);
$list:iphone_6s,apple_tv,macbook,accessories;
